---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [272]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head(15)

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT
Azerbaijan,5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,AZE
Bahamas,15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,BAH
Bahrain,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,BRN
Barbados,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,BAR
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,BLR
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL
Bermuda,17,0,0,1,1,7,0,0,0,0,24,0,0,1,1,BER
Bohemia,3,0,1,3,4,0,0,0,0,0,3,0,1,3,4,BOH

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [273]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [274]:
def answer_one():
    df['Country'] = df.index
    
    top_gold = df.sort_values('Gold', ascending = False)
    
    return top_gold['Country'][0]

answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [275]:
def answer_two():
    df['Country'] = df.index
    
    for row in df:
        df['medal_diff'] = abs(df['Total']-df['Total.1'])
        
    sorted_diff = df.sort_values('medal_diff', ascending = False)
    return sorted_diff['Country'][0]

answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [276]:
# For this question, the country with the biggest difference between summer and winter gold medals,
# relative to total gold, will have the smallest proportion for this ratio

def answer_three():
    df['Country'] = df.index
    
    dfg = df.where((df['Gold'] > 0) & (df['Gold.1'] > 0))
    dfg = dfg.dropna()

    for row in dfg:    
        dfg['gold_ratio'] = abs(dfg['Gold'] - dfg['Gold.1']) / dfg['Gold.2']    
    
    sorted_ratio = dfg.sort_values('gold_ratio')
    return sorted_ratio['Country'][0]

answer_three()

'Canada'

In [280]:
# This is the corrected response

def answer_three():
    #df['Country'] = df.index
    
    dfg = df[(df['Gold'] > 0) & (df['Gold.1'] > 0)]
    
    dfg_diff = (abs(dfg['Gold'] - dfg['Gold.1']) / dfg['Gold.2'])
    
    return dfg_diff.idxmax()

answer_three()

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [106]:
def answer_four():
    df['Country'] = df.index

    for row in df:    
        df['Points'] = (df['Gold.2'] * 3) + (df['Silver.2'] * 2) + (df['Bronze.2'] * 1)  

    return df['Points']

answer_four()

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Name: Points, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

In [257]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [113]:
county_df.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME',
       'CENSUS2010POP', 'ESTIMATESBASE2010', 'POPESTIMATE2010',
       'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013',
       'POPESTIMATE2014', 'POPESTIMATE2015', 'NPOPCHG_2010', 'NPOPCHG_2011',
       'NPOPCHG_2012', 'NPOPCHG_2013', 'NPOPCHG_2014', 'NPOPCHG_2015',
       'BIRTHS2010', 'BIRTHS2011', 'BIRTHS2012', 'BIRTHS2013', 'BIRTHS2014',
       'BIRTHS2015', 'DEATHS2010', 'DEATHS2011', 'DEATHS2012', 'DEATHS2013',
       'DEATHS2014', 'DEATHS2015', 'NATURALINC2010', 'NATURALINC2011',
       'NATURALINC2012', 'NATURALINC2013', 'NATURALINC2014', 'NATURALINC2015',
       'INTERNATIONALMIG2010', 'INTERNATIONALMIG2011', 'INTERNATIONALMIG2012',
       'INTERNATIONALMIG2013', 'INTERNATIONALMIG2014', 'INTERNATIONALMIG2015',
       'DOMESTICMIG2010', 'DOMESTICMIG2011', 'DOMESTICMIG2012',
       'DOMESTICMIG2013', 'DOMESTICMIG2014', 'DOMESTICMIG2015', 'NETMIG2010',
       'NETMIG2011', 'NETMIG2012', 'NETMIG2013', 'NETMIG2014', 'NETMIG2015',
       'RESIDUAL2010', 'RESIDUAL2011', 'RESIDUAL2012', 'RESIDUAL2013',
       'RESIDUAL2014', 'RESIDUAL2015', 'GQESTIMATESBASE2010',
       'GQESTIMATES2010', 'GQESTIMATES2011', 'GQESTIMATES2012',
       'GQESTIMATES2013', 'GQESTIMATES2014', 'GQESTIMATES2015', 'RBIRTH2011',
       'RBIRTH2012', 'RBIRTH2013', 'RBIRTH2014', 'RBIRTH2015', 'RDEATH2011',
       'RDEATH2012', 'RDEATH2013', 'RDEATH2014', 'RDEATH2015',
       'RNATURALINC2011', 'RNATURALINC2012', 'RNATURALINC2013',
       'RNATURALINC2014', 'RNATURALINC2015', 'RINTERNATIONALMIG2011',
       'RINTERNATIONALMIG2012', 'RINTERNATIONALMIG2013',
       'RINTERNATIONALMIG2014', 'RINTERNATIONALMIG2015', 'RDOMESTICMIG2011',
       'RDOMESTICMIG2012', 'RDOMESTICMIG2013', 'RDOMESTICMIG2014',
       'RDOMESTICMIG2015', 'RNETMIG2011', 'RNETMIG2012', 'RNETMIG2013',
       'RNETMIG2014', 'RNETMIG2015'],
      dtype='object')

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [152]:
def answer_five():

    county_df = census_df[census_df['SUMLEV'] == 50]
    columns_to_keep = ['STNAME','CTYNAME']
    county_df = county_df[columns_to_keep]

    county_count = county_df.groupby('STNAME').size()
    county_count = county_count.sort_values(ascending = False)
    return county_count.index[0] 

answer_five()

'Texas'

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

Compute the population of each state using sum the top 3 counties populations in that state. then using the calculated top3population find the top 3 states

One approach from Assignment2Tips thread:

1. filter out state level data entries and keep only county level data (check co-est2015-alldata.pdf)
2. get the unique STNAMEs 
3. for each state in one, find all counties in that state and sort their population in descending order, the top 3 counties populations are the first three, sum them up and assign that value to the state being processed
4. now you have states and their population taking into account only top 3 counties pop , here you could sort in descending order according to population and get first 3 state names

*This function should return a list of string values.*

In [236]:
#def answer_six():

#filter out state level
county_df = census_df[census_df['SUMLEV'] == 50]
columns_to_keep = ['STNAME','CTYNAME','CENSUS2010POP']
county_df = county_df[columns_to_keep]

state_df = pd.DataFrame()
state_df['State'] = county_df['STNAME'].unique()

#intialise all state populations to 0
state_df['Top3PoP'] = 0
state_df.set_index('State',inplace=True)

for row in county_df:
    # find_pop_of_st_cnties_sorted_descending(st)
    county_pop = county_df.sort_values(by=['CENSUS2010POP'], ascending = False).groupby('STNAME')
    top_county_pop = county_pop.sum().sort_values('CENSUS2010POP', ascending = False)
    
    # check if county_pop has more than one number; states with one county only, countiespop is a number
    if type(county_pop) == pd.Series:
        stsum = sum(county_pop[0:2])
    else:
        stsum = county_pop
        state_df['Top3PoP'].loc[st] = stsum  

# state_df$.sortDescAccordingToTop3PoP$
# state_df$.getfirst3States$  
      
#top_county_pop.head(20).index[:3].tolist()

#return top_county_pop.head(3).index.tolist()
state_df.head()
#answer_six()

           Top3PoP
State
Alabama          0
Alaska           0
Arizona          0
Arkansas         0
California       0

In [228]:
def answer_six():

    county_df = census_df[census_df['SUMLEV'] == 50]
    columns_to_keep = ['STNAME','CTYNAME','CENSUS2010POP']
    county_df = county_df[columns_to_keep]
    
    for row in county_df:
        # find_pop_of_st_cnties_sorted_descending(st)
        county_pop = county_df.sort_values(by=['CENSUS2010POP'], ascending = False).groupby('STNAME')
        top_county_pop = county_pop.sum().sort_values('CENSUS2010POP', ascending = False)
    
    return top_county_pop.head(3).index.tolist()

answer_six()

['California', 'Texas', 'New York']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

For each row in columns POPESTIMATE2010 through POPESTIMATE2015 you need to calculate the max, the min then take the absolute value of their difference, then find the CTYNAME corresponding to the maximum difference.

Algorithm:

1. Select the columns needed for this question

2. Filter out the state level data using boolean masking on the SUMLEV column

3. Set CTYNAME as index to make finding the county name easy using idxmax or argmax

4. Calculate the max, min and the absolute difference between them using max and min

5. Then create a new column in df to hold the calculated difference

6. Finally find entry in 'CTYNAME' corresponding to maximum value in diff column  

*This function should return a single string value.*

In [250]:
def answer_seven():
    # Select the columns needed for this question
    popcols = ["POPESTIMATE20"+ str(x) for x in range(10,16)]
    cols =['SUMLEV', 'CTYNAME', 
           'POPESTIMATE2010','POPESTIMATE2011', 'POPESTIMATE2012', 
           'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015']
    dfp = census_df[cols]

    # filter state level data using boolean masking on the SUMLEV column
    dfp = dfp[census_df['SUMLEV'] == 50]

    # set CTYNAME as index to make finding the county name easy using idxmax or argmax
    dfp.set_index('CTYNAME',inplace = True)

    for row in dfp:
        # calculate max, min and absolute difference between them using max and min
        dfp['maxx'] = dfp[popcols].max(axis=1)
        dfp['minn'] = dfp[popcols].min(axis=1)

        # create new column in df to hold the calculated difference
        dfp['diff'] = abs(dfp['maxx'] - dfp['minn'])

    # sort values for diff column and find 'CTYNAME' corresponding to maximum value
    top_diff = dfp.sort_values(['diff'], ascending = False).head()    
    return top_diff.index[0]

answer_seven()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

1. Create a query that finds the counties that belong to regions 1 or 2, 
2. Whose name starts with 'Washington', and 
3. Whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.
4. Function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [269]:
def answer_eight():
    cols =['SUMLEV', 'STNAME', 'CTYNAME', 'REGION', 'POPESTIMATE2014', 'POPESTIMATE2015']
    dfp = census_df[cols]

    # Query counties that belong to regions 1 or 2 
    dfp = dfp[(dfp['SUMLEV'] == 50) & (dfp['REGION'] == 1) | (census_df['REGION'] == 2)]

    # Counties name starts with 'Washington'
    dfp = dfp[(dfp['CTYNAME'] == 'Washington County')]

    # Counties whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.
    dfp = dfp[(dfp['POPESTIMATE2015'] > dfp['POPESTIMATE2014'])]

    return dfp[['STNAME','CTYNAME']]

answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County